<h1>Bienvenido <%= @user.name  %></h1>

<%= link_to 'Alumnos', alumnos_url , class: "btn btn-primary"%> 
<%= link_to 'Asignaturas', asignaturas_url, class: "btn btn-primary" %>
<%= link_to 'Calificaciones', nos_url, class: "btn btn-primary" %>


