  <% @asignaturas.each do |asignatura| %>
        <div class="btn button rojo"><%= link_to asignatura.nombre_asignatura, nos_new_nueva_path( :asig=>asignatura.nombre_asignatura) %></div>              
  <% end %>

