<div class="btn btn-md" > <%= link_to 'Nueva asignatura', new_asignatura_path , class: "btn button azul"%> <%= link_to 'Editar asignaturas', asignaturas_editar_path , class: "btn button azul"%> </div>


