
<div class="center jumbotron">
  <h1>Hola!</h1>

  <h2>
   Esta es una
    <a href="http://www.railstutorial.org/">aplicacion de prueba</a>
    ,bienvenido.
  </h2>

  <%= link_to "Inscríbete ahora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!--<%= image_tag( "cactus", class: "img-responsive center-block",alt: "cactus logo") %>

 -->
